<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Content</title>
    <%- include('./partial/style.ejs') %> 
</head>
<body>
    <%- include('./partial/navbar.ejs') %>
    <div class="container">
        <form action="/add" method="post">
            <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Content</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="content">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">image</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Add New Task</button>
    </form>
</div> 
</body>
</html>